header {
    text-align: center;
    margin: 50px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    height: 100px;
}

.allbtn, .epicbtn, .ikonbtn {
    height: 50px;
    width: 80px;
    margin: 10px;
    border: 1px solid black;
    cursor: pointer;
}

.item-container {
    width: 90%;
    height: 450px;
    margin: 50px auto;
    display: flex;
    border: 1px solid black;
    padding: 10px 20px;
    box-shadow: 0 0 5px rgb(106, 106, 106);
    border-radius: 10px;
}

.resort-img {
    height: 420px;
    width: 450px;
    margin: auto 25px auto 10px;
}

.resort-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 0 5px rgb(106, 106, 106);
}

.info {
    height: 420px;
    width: 90%;
    margin: auto 0;
}

.name {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
}

.report {
    width: 100%;
    height: 225px;
    margin-top: 5px;
}

.weather-report {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 16px 0;
}

.temperature, .snow, .traffic {
    border: 1px solid black;
    box-shadow: 0 0 5px rgb(106, 106, 106);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    letter-spacing: 0.3px;
    line-height: 20px;
}

.temperature, .snow {
    width: 48%;
    height: 130px;
}

.traffic {
    width: 100%;
    height: 207px;
    margin: 10px 20px 0 0;
}

.temperature h4, .snow h4, .traffic h4 {
    margin: 0;
    padding: 15px;
    font-size: 14px;
    line-height: 15px;
}

.map-box {
    height: 100%;
    width: 100%;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.address-input, .submit-input {
    display: flex;
    justify-content: center;
}

.address-input label, .address-input input, #address-submit {
    margin: 0 5px;
}

.address-input input {
    width: 300px;
}

#address-submit {
    border: 1px solid black;
    cursor: pointer;
    margin: 30px;
    height: 20px;
    width: 80px;
}