body {
    color: white;
    margin: 0;
}

header {
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header img {
    opacity: 0.4;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header h1 {
    position: relative;
    z-index: 1;
    letter-spacing: 10px;
    text-transform: uppercase;
    padding: 25px 50px;
    margin-top: -25px;
    margin-bottom: -15px;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    height: auto;
    position: relative;
    display: flex;
    margin-top: -38vh;
    display: none;
}

.allbtn,
.epicbtn,
.ikonbtn {
    height: 50px;
    width: 100px;
    margin: 0 3%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Hind', sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

button img {
    height: 30px;
    width: auto;
}

.epicbtn img {
    margin-top: 5px;
}

.container {
    z-index: 3;
    margin-top: 38vh;
    display: none;
}

.item-container {
    width: 93%;
    height: 450px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 10px;
}

.img-container {
    background-color: black;
    width: 100%;
    height: 450px;
    position: absolute;
    z-index: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.108);
    border-radius: 10px;
}

.img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.7;
    border-radius: 10px;
}

.section-top {
    height: 25%;
    width: 93%;
    display: flex;
    align-items: center;
    z-index: 1;
}

.section-top h2 {
    letter-spacing: 10px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0 0 20px black;
}

.section-bottom {
    height: 75%;
    width: 93%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.weather,
.traffic {
    height: 90%;
    width: 48.5%;
}

.weather {
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.temperature,
.outlook,
.snow {
    width: 100%;
    height: 29%;
    display: flex;
    background-color: white;
    border-radius: 10px;
}

.left {
    height: 100%;
    width: 70%;
}

.right {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right img {
    height: 60px;
    width: auto;
}

.text-top {
    width: 100%;
    height: 30%;
}

.text-top h4 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin: 0;
    padding: 10px 10px 0 10px;
}

.text-bottom {
    width: 100%;
    height: 65%;
}

.text-bottom p {
    font-family: 'Hind', sans-serif;
    color: black;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    padding: 10px;
}

.map-box {
    height: 100%;
    width: 100%;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    opacity: 0.9;
    border-radius: 10px;
}

.address-input,
.submit-input {
    display: flex;
    justify-content: center;
}

.address-input label,
.address-input input {
    margin: 0 5px;
}

form {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

#autocomplete {
    border: none;
    border-radius: 3px;
    opacity: 0.6;
    padding: 10px;
    width: 300px;
    font-family: 'Hind', sans-serif;
}

#autocomplete:focus {
    opacity: 1;
}

@media only screen and (max-width: 720px) {
    .section-top {
        height: 80px;
    }

    .section-top h2 {
        font-size: 3.8vw;
        letter-spacing: 7px;
    }

    .section-bottom {
        flex-direction: column;
        height: 82%;
    }

    .item-container {
        height: 550px;
    }

    .img-container {
        height: 550px;
    }

    .weather,
    .traffic {
        height: 90%;
        width: 100%;
    }

    .weather {
        margin-bottom: 20px;
    }

    .right {
        max-width: 100px;
        margin-left: 80px;
    }

    .text-top h4 {
        padding-bottom: 8px;
    }

    .filter-buttons {
        margin-top: -30vh;
    }

    .allbtn,
    .epicbtn,
    .ikonbtn {
        height: 30px;
        width: 90px;
        font-size: 9px;
    }

    button img {
        height: 20px;
    }

    .epicbtn img {
        margin-top: 2px;
    }

    .container {
        margin-top: 30vh;
    }

}